* {
    background-color: rgb(245, 237, 237);
}

.container {
    width: 90%;
    margin: auto;
    border: 2px solid red;
    padding: 2%;
}

.cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.cards>* {
    flex-basis: 20%;
}

.card {
    padding: 1%;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.eta {
    display: block;
}